button {
  @mixin resetButton;
  background-color: var(--red-1);
  display: inline-flex;
  align-items: center;
  padding: var(--size-2) var(--size-4);
  color: var(--gray-1);
  border-radius: 1rem;
  transition: all 0.1s ease-out;
  font-weight:300;

  &:hover:not(:disabled) {
    background-color: var(--gray-1);
    color: var(--gray-7);
    transition: all 0.1s ease-int;
  }

  & > .lucide {
    margin-right: var(--size-3);
    stroke: var(--colorWhite);
  }
}
