a,
.link {
  color: var(--red-1);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: all 0.1s ease-in;

  &:hover{
    color:var(--gray-5);
  }
}
