.footer {
  @mixin wrapper;
  background: var(--gray-8);
}

.footer_content {
  @mixin flex;
  text-align:center;
  margin-top:var(--size-18);
}

.footer_nav {
  margin-top:var(--size-2);
  flex-grow: 1;
}

.footer_nav_items {
  display: flex;
  justify-content: center;
  gap: var(--size-5);
  font-size:1.4rem;
}
