.header {
  @mixin wrapper;
  background: var(--gray-8);
}

.header_content {
  @mixin flex;
  @mixin maxGridWidth 7,8;
  flex-direction:column;
  align-items:center;
  text-align:center;
  gap:var(--size-4);
}

.header_baseline{
  font-size:0.9em;
}
