.promise{
  background-color: var(--blue-2);
  border:1px solid var(--blue-3);
  border-radius:1.2rem;
  padding: var(--size-5);
  text-align: center;
  @mixin maxGridWidth 4,3;
  width:100%;
}

.promise_icon{
  stroke: var(--blue-1);
  margin-top:var(--size-2);
}

.promise_title{
  color:var(--gray-1);
  margin-top:var(--size-2);
}

.promise_description{
  color: var(--gray-2);
  margin-top: var(--size-4);
}
